
	<div class="row">
		<div class="span12">
			<div class="page-header">
				<h1>Welcome to <font color="maroon">High Cloudiness</font> talk!</h1>
			</div>
		</div>

		<div class="span7">

			<div class="hero-unit" style="margin:0px; padding: 10px;">
				<h3>Let's get acquainted:</h3>
				<p></p>

				<p><span class="badge badge-info">1</span> My name is
				<span class="label label-info">Ivan Pesin</span> and I am a Lead Maintenance Engineer 
				and Resource Manager at EPAM Lviv
				</p>

				<p><span class="badge badge-success">2</span> I work with cloud environments for over
				4 years now.
				</p>
	
				<p><span class="badge badge-warning">3</span> <span class="label label-warning">@EPAM</span> 
				we do all sorts of stuff with clouds. We even have our own cloud and one of the directions
				I work in is a "cloudification" of applications. 	
				</p>
			</div>

		</div>

		<div class="span5">

			<img align="right" alt="EPAM Cloud OpenDay" src="logo.jpg" width="80%" height="80%" />

		</div>

	</div>


	<div class="row">
		<div class="page-header">
			<h1>What we are going to do today
				<small>Brief overview of our talk</small></h1>
		</div>
	</div>

	<div class="row">
		<div class="span6">
			<p>
				<ul>
					<li><h3>Brief cloud overview <small>&mdash; if needed</small></h3></li>
					<li><h3>So why is it so popular? <small>&mdash; let's try and see!</small></li>
					<li><h3>I need more control! <small>&mdash; come down to infrastructure level</small></li>
					<li><h3>What we do @EPAM about clouds? <small>&mdash; "weather" control and augmentation</small></li>
				</ul>
			</p>
		</div>
		<div class="span5 offset1">
			<p></p>
			<div class="alert alert-success">
				<center><p>
					This page was opened on: <br>
				       	<h1><%= Time.now.utc %></h1>
				</p></center>
			</div>
		</div>
	</div>
